@model TutorielAuto.TutorielAuto.Models.Tutoriel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tutoriel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dcc" class="control-label"></label>
                <input asp-for="Dcc" class="form-control" />
                <span asp-validation-for="Dcc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contenu" class="control-label"></label>
                <input asp-for="Contenu" class="form-control" />
                <span asp-validation-for="Contenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoLink" class="control-label"></label>
                <input asp-for="VideoLink" class="form-control" />
                <span asp-validation-for="VideoLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dml" class="control-label"></label>
                <input asp-for="Dml" class="form-control" />
                <span asp-validation-for="Dml" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategorieId" class="control-label"></label>
                <select asp-for="CategorieId" class ="form-control" asp-items="ViewBag.CategorieId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
